body{
font-family: Arial;
text-align:center;
background:#111;
color:white;
}

#gameArea{
width:600px;
height:400px;
border:2px solid white;
margin:auto;
position:relative;
background:black;
}

#player{
width:20px;
height:20px;
background:blue;
position:absolute;
}

#enemy{
width:20px;
height:20px;
background:red;
position:absolute;
}

button{
padding:10px;
font-size:16px;
}
